@use "sass:color";
@import "styles/config";

.profile-back {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $gray-300;
  border: none;
  border-right: 2px solid $border-color;
  height: 100vh;
  width: 4rem;
  padding: 0;
  cursor: pointer;
  transition: all 300ms;
}

.profile-back__circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background-color: $primary;
  border-radius: 50%;
  transform: rotate(180deg);

  .profile-back &:hover,
  .profile-back &:focus {
    outline: 0;
    background-color: color.adjust($gray-300, $lightness: -4%);
    border-color: color.adjust($border-color, $lightness: -4%);

    .profile-back__circle {
      background-color: color.adjust($primary, $lightness: -5%);
    }
  }
}
