.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  margin: auto;
  max-width: 600px;
  flex-grow: 1;
}

.profile__username {
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 2em;
  margin-bottom: 2em;
}

.profile__data {
  margin-bottom: 3em;
}
