$white: #fff;
$primary: #3369f3;
$primary-light: #e1edff;
$danger: #ff2f2f;
$border-color: #eaeaea;
$gray-300: #fbfbfb;
$gray-400: #efefef;
$gray-500: #c4c4c4;
$gray-600: #999;
$sans-serif-font-family: system-ui, -apple-system, "Segoe UI", "Roboto",
  "Helvetica Neue", "Arial", "Noto Sans", "Liberation Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
