.avatar {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
  overflow: hidden;
}

.avatar__img {
  width: 100%;
  height: 100%;
}

.avatar-sm {
	width: 3rem;
	height: 3rem;
}

.avatar-xl {
	width: 8rem;
	height: 8rem;
}
