@import "styles/config";

.chat-channel {
	padding-top: .5rem;
	padding-bottom: .5rem;
	display: flex;
	align-items: center;
	border-bottom: 1px solid $border-color;
}

.chat-channel__content {
	margin-left: .75rem;
	margin-right: .75rem;
	flex-grow: 1;
}

.chat-channel__username {
	font-weight: 600;
}

.chat-channel__text {
	margin: 0;
	font-size: 14px;
	color: $gray-600;
}

.chat-channel__meta {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.chat-channel__date {
	color: $gray-600;
	font-size: .75rem;
	margin-bottom: auto;
}
